<ng-template #pdfViewerModel let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">View Certificate</h4>
        <button type="button" class="close" aria-label="Close" (click)="downloadPDF()">
            <fa-icon [icon]="faDownload"></fa-icon>
        </button>
        <button type="button" class="close" (click)="printPDF()">
            <fa-icon [icon]="faPrint"></fa-icon>
        </button>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <pdf-viewer [src]="pdfDataUri" [render-text]="true" style="display: block;" [show-borders]="true"></pdf-viewer>
    </div>
</ng-template>